<%- include partials/header.ejs %>

    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
    <% } %>

<!-- ========== REGISTER ========== -->
<section class="pt-5 pb-5 mt-0 pt-md-11">
    <div class="container">
        <div class="row login-row">
            <img class="col-lg-5 login-img login-left-block img-fluid p-0 d-none d-lg-block"
                src="/stylesheets/assets/images/charles-deluvio-k8CHk6c4_hc-unsplash-edit.jpg" alt="Responsive image">
            <div class="col-lg-7 login-right-block">
                <form class="pl-5 pr-5 mt-3" method="post" id="register">
                    <h1><a class="navbar-brand mt-5 mb-3" style="font-size: 30pt;" href="/">ecofine </a></h1>
                    <h5 class="mb-4">Create an account</h5>
                    <% if(typeof(error) != "undefined"){ %>
                    <%= error %>
                    <% } %>
                    <div class="col-md-7 p-0 mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="material-icons input-group-text border-right-0"
                                    style="background-color: #fff;">person</span>
                            </div>
                            <input class="form-control border-left-0" type="text" name="username" autocomplete="off"
                                placeholder="Enter display name">
                        </div>
                    </div>
                    <div class="col-md-7 p-0 mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="material-icons input-group-text border-right-0"
                                    style="background-color: #fff;">alternate_email</span>
                            </div>
                            <input class="form-control border-left-0" type="text" name="email" autocomplete="off"
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-7 p-0 mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="material-icons input-group-text border-right-0"
                                    style="background-color: #fff;">lock</span>
                            </div>
                            <input class="form-control border-left-0" type="password" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-7 p-0 mt-3">
                        <button class="btn btn-primary container tooltip-test" title="Tooltip" type="submit" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Register</button>
                    </div>
                    <div id="Loading-icon" class="mt-4 mb-4" style="width: 50px; height: auto; opacity: 0"></div>
                    <p style="color:red;" id="RecaptchaUnfilled"></p>
                    <p style="color:red;" id="Error"></p>
                    <div class="g-recaptcha mt-3 ml-0" data-sitekey="6LevlaUaAAAAAJsMzLjqNtuG6HIRwpnVZrbQfcye"></div>
                    <p class="text-muted mt-5 mb-0 font-weight-light"></p>
                    <p class="pb-3"><a class="btn-link mt-0  font-weight-light text-decoration-none"
                            href="/login">Already have an account? Sign in here</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="module" src="/javascripts/auth.js"></script>

<%- include partials/footer.ejs %>